body {
    background-color: #ddd; 
    font-family: sans-serif;
}
.content {
    background-color: #fff;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 2px;
}
.timestamp {
    color: #555;
    font-size: small;
}
.header {
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
}